<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-white shadow rounded-4 p-3" aria-orientation="vertical">

        <a href="{% url 'dashboard' %}"
           class="nav-link fw-semibold rounded-3 mb-1
           {% if request.path == '/dashboard/' %}bg-primary text-white{% else %}text-dark{% endif %}">
            Dashboard
        </a>

        {% if perms.auth.view_user %}
        <a href="{% url 'users' %}"
           class="nav-link fw-semibold rounded-3 mb-1
           {% if '/users' in request.path %}bg-primary text-white{% else %}text-dark{% endif %}">
            Users
        </a>
        {% endif %}
        {% if perms.blogs.view_category %}
        <a href="{% url 'categories' %}"
           class="nav-link fw-semibold rounded-3 mb-1
           {% if '/categories' in request.path %}bg-primary text-white{% else %}text-dark{% endif %}">
            Categories
        </a>
        {% endif %}
        {% if perms.blogs.view_blogs %}
        <a href="{% url 'posts' %}"
           class="nav-link fw-semibold rounded-3 mb-1
           {% if '/posts' in request.path %}bg-primary text-white{% else %}text-dark{% endif %}">
            Posts
        </a>
        {% endif %}

        <hr class="my-2">

       
    </div>
</div>
